@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v22-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v22-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v22-latin-900.woff2') format('woff2');
}
/* BASIC STYLE*/
:root {
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-dark: #465929 ;
    --color-brand-normal: #819B57;
    --color-brand-light: #CFCFBC;
    --color-secondary-dark: #A18268;
    --color-copyright: #A18268;
}
body {
    background-color: var(--color-primary-light);
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}
.container {
    max-width: 1288px;
    width: 100%;
    padding: 0 24px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.btn {
    font-weight: 600;
    font-size: 18px;
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
    border-radius: 8px;
    border: 2px solid var(--color-brand-normal);
    cursor: pointer;
}
.btn:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}
.nav__link {
    color: var(--color-primary-light);
}
.nav__link:hover {
    color: var(--color-brand-normal);
    font-weight: 600;
}
a {
    display: inline-block;
}
.section {
    padding: 48px 0;
}
.section__title {
    font-weight: 900;
    font-size: 64px;
}
.accent {
    color: var(--color-brand-normal);
}
.accent-dark {
    color: var(--color-brand-dark);
}
.uppercase {
    text-transform: uppercase;
}

/* HEADER */
.header {
    padding-top: 32px;
}
.header__container {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px
}
.header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 64px;
}

/* BAKERY SECTION */
.bakery {
    background-image: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.hero__title {
    font-weight: 900;
    font-size: 128px;
    padding: 272px 0;
    text-align: center;
    color: var(--color-primary-light);
}

/* ADVANTAGES SECTION */
.advantages {
    background-color: var(--color-brand-normal);
    padding: 16px 0;
}
.advantages__list {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

/* TRADITIONS SECTION */
.tradition {
    padding-top: 96px;
}
.tradition__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.tradition__content {
    max-width: 680px;
}
.tradition__title {
    margin-bottom: 42px;
}
.tradition__desc {
    margin-bottom: 42px;
}
.tradition__desc.limited {
    max-width: 340px;
    margin-bottom: 0;
}
/* CHEFS SECTION */
.chefs__title {
    margin: 0 auto 80px;
    max-width: 535px;
    text-align: center;
}
.chefs__title::before,
.chefs__title::after {
    content: '';
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand-light);
}
.chefs__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.chef__card {
    display: flex;
    gap: 40px 30px;
}
.chef__img {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}
.chef__title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 16px;
}
.chef__about {
    max-width: 334px;
}
.chef__desc {
    margin-bottom: 20px;
}
.chef__desc:last-child {
    margin-bottom: 0;
}

/* FORMAT */
.formats__title {
    margin-bottom: 80px;
    text-align: center;
}
.format__container {
    display: flex;
    gap: 32px;
    align-items: center;
}
.button__carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    fill: var(--color-primary-dark);
    border-radius: 50%;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    cursor: pointer;
}
.button__carousel:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}
.format__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: var(--color-primary-light);
}
.format__item {
    flex-basis: calc((100% - 40px) / 3);
}
.format__card {
    padding: 24px;
    height: 444px;
    background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261a 100%);
}
.format__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}
.format__desc {
    font-weight: 300;
    font-size: 14px;
}

/* CONTACT SECTION*/
.contact {
    padding-bottom: 96px;
}
.contact__container {
    display: flex;
    gap: 32px;
}
.contact__title {
    margin-bottom: 16px;
    font-size: 60px;
}
.contact__map {
    flex-shrink: 0;
    border-radius: 16px;
}
/* FOOTER */
.footer {
    background-color: var(--color-primary-dark);
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 32px 0;
}
.footer__container {
    display: flex;
    gap: 20px;
}
.footer__nav,
.footer__address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}
.footer__logo,
.footer__menu {
    flex-grow: 1;
}

.footer__contact-list,
.footer__policy {
    flex-grow: 1;
}

.footer__social-icon {
    fill: var(--color-primary-light);
}
.footer__social-icon:hover {
    fill: var(--color-brand-normal);
}
.footer__contact-link,
.footer__privacy-policy {
    color: var(--color-primary-light);
    font-weight: 300;
    font-size: 16px;
}
.footer__copyright {
    color: var(--color-copyright);
    font-size: 14px;
}
